include gluonts/model/r_forecast/R/*.R

prune .devtools
prune .github
prune examples
prune evaluations
prune docs
prune test


prune src/gluonts/nursery


exclude .dockerignore
exclude .gitignore
exclude dev_setup.sh


global-exclude *.ipynb
