
# include all of gluonts
graft src/gluonts

# except the nursery
prune src/gluonts/nursery

graft docs
graft requirements
graft test

includes *.md
include NOTICE

prune .devtools
prune .gitattributes
prune .github
prune examples
prune evaluations

exclude .dockerignore
exclude .gitignore
exclude dev_setup.sh
