black==18.6b4
click==6.*
mypy==0.630
nbsphinx>=0.3.4,<0.4
nbconvert
pytest-runner==2.11.*
ipython
ipykernel
recommonmark
setuptools>=40.1.0
sphinx==1.7.*
sphinx-autobuild==0.7.*
sphinx_rtd_theme==0.4.*
sphinx-gallery
sphinx-autorun
tornado==5.1.1
https://github.com/mli/mx-theme/archive/0.3.1.tar.gz
