ipython
ipykernel~=6.5
nbconvert~=6.5.1
nbsphinx~=0.8.8
notedown
pytest-runner~=2.11
recommonmark
sphinx~=4.0
docutils<=0.16
optuna~=2.10
furo==2022.6.4.1
m2r2
myst-parser
click
orjson
black
holidays~=0.9
matplotlib
