name: Doc Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/requirements-mxnet.txt
        pip install -e ".[shell]"
        pip install -r requirements/requirements-test.txt
        pip install -r requirements/requirements-docs.txt

    - name: Build docs
      run: |
        make -C docs html SPHINXOPTS=-W
    - name: Doctests
      run: |
        pytest --doctest-modules src/gluonts
