name: Flake8

on: [push, pull_request]

jobs:
  style-type-checks:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install pip==20.2
        pip install flake8
    - name: Flake8
      run: flake8 --ignore E501,E203,W503,W291,E741 src
