name: PyTorch Tests

on: [push, pull_request]

jobs:
  test:
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10']
        platform: [ubuntu-latest]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install ".[arrow]" \
          -r requirements/requirements-test.txt \
          -r requirements/requirements-extras-m-competitions.txt \
          -r requirements/requirements-pytorch.txt
        pip install --no-deps -r requirements/requirements-extras-cpflows.txt
    - name: Test with pytest
      run: |
        pytest -n2 --doctest-modules --ignore test/nursery test
