name: Test latest release nightly Windows

on:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  test-stable-windows:

    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version: [3.7]

    runs-on: windows-latest
    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Clone and install dependencies
      run: |
        $tmp=(Invoke-WebRequest -Uri https://api.github.com/repos/awslabs/gluonts/releases/latest).Content | ConvertFrom-Json | Select-Object tag_name
        $tmp=$tmp.psobject.properties.value.trim() 
        git clone https://github.com/awslabs/gluonts --branch $tmp
        cd gluon-ts
        python -m pip install -U pip
        pip install mxnet~=1.7.0
        pip install torch
        pip install pytorch-lightning~=1.5
        pip install -e ".[shell]"
        pip install -r requirements/requirements-test.txt
        pip install -r requirements/requirements-extras-sagemaker-sdk.txt
        pip install -r requirements/requirements-extras-m-competitions.txt
        pip install -r requirements/requirements-rotbaum.txt
        pip install -r requirements/requirements-extras-anomaly-evaluation.txt
        pip install -r requirements/requirements-extras-autogluon.txt
      shell: powershell
    - name: Test with pytest
      run: |
        cd gluon-ts
        pytest -m 'not (gpu or serial)' --cov src/gluonts --cov-report=term --cov-report xml test
